@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap%27");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "League Spartan";
}
.nav-link.active,
.nav-link:hover {
  color: #d5b92d !important;
}

.logo {
  width: 70px;
  margin-left: 30px;
}

.navbar a {
  font-weight: bold;
  font-size: 25px;
}

.section-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../imagenes/carretera1.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

span {
  color: #d5b92d;
}
.text {
  width: 69%;
  padding: 50px;
  display: flex;
  align-items: center;
  margin-top: 10%;
}
.section-1 h1 {
  font-size: 7vw;
}
h1 {
  font-size: 3vw;
}
.logo {
  width: 70px;
}

.section-2 {
  display: flex;
  background-image: url("../imagenes/manchaAzul.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: bold;
}

.section-2-left {
  width: 50%;
  text-align: center;
  margin-bottom: 10%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  font-size: 2vw;
}

.center-button i {
  margin-left: 3%;
}
.section-2-right {
  width: 50%;
}

.center-button {
  width: 60%;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d5b92d;
  color: white;
  margin-right: 20%;
  text-decoration: none;
}

.center-img {
  display: block;
  margin: 60px auto;
  width: 80%;
  margin-right: 10%;
}

.text-center {
  margin-top: 10%;
  width: 90%;
  margin-left: 5%;
}

.section-3 {
  display: flex;
  justify-content: center;

  background-color: #fff;
  background-image: url("../imagenes/manchaDorada.jpg");
  background-size: cover;
}

.section-3 .left {
  width: 50%;
  text-align: center;
}

.section-3 .left img {
  width: 100%;
  padding: 10%;
}

.section-3 .right {
  width: 50%;
  text-align: center;
}

.section-3 .right .section-3-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.section-3-button2,
.section-3-button {
  color: #fff;
  width: 73%;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1c3144;
  margin-top: 25%;
  font-size: 2vw;
}
.section-3 h1 {
  margin-top: 25%;
  width: 75%;
}
.section-3 i {
  margin-left: 4%;
}
.section-3-button2 {
  display: none;
}

li {
  list-style: none;
  padding: 0 5px;
  margin: 5px 0px;
}

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.section-4 h1 {
  color: #333;
}
.section-text {
  font-family: "Open Sans" !important ;
  text-align: center;
  width: 550px;
  margin: 20px 0;
  font-weight: normal;
}

.card1s-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.card1 {
  width: 30%;
  height: 550px;
  background-color: white;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card1 button {
  width: 70%;
  height: 50px;
  border: 1px solid #d5b92d;
  background-color: transparent;
  font-size: 30px;
  margin-top: 20%;
}
ul {
  padding: 0;
}
.card1-center button {
  border: 1px solid white;

  color: white;
}
.card1-center {
  background-color: #d5b92d;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card1-title {
  margin-bottom: 10px;
}

.card1-price {
  color: #d5b92d;
  font-size: 50px;
  margin-bottom: 20px;
}
.card1-center li,
.card1-center .card1-price {
  color: white;
}
.card1-description {
  font-size: 18px;
  margin: 0;
}
.card1 i {
  margin-right: 5px;
}

/* Estilos para la sección 5 */
.section-5 {
  text-align: center;
}

.section-5 .text-center {
  margin-top: 5%;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-container div {
  text-align: center;
  width: 33.33%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container img {
  width: 30%;
}
.icon-container i {
  font-size: 48px;
  color: #333;
  margin-bottom: 10px;
}
.icon-container div span {
  font-size: 2vw;
}
.icon-container div p {
  width: 45%;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #1c3144;
}
.footer-up {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-left img {
  height: 50px;
  margin-right: 20px;
}
.footer-right,
.footer-center {
  margin-bottom: 20px;
}

.footer-center {
  margin: 0px 10px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-bottom-copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c3144;
  color: #fff;
  width: 100%;
  padding: 20px 0;
}
.footer-bottom i {
  font-size: 40px;
  margin: 0 10px;
}

/* PARA PATALLA MENOR A 700px VERTICALMENTE */
@media only screen and (max-height: 700px) {
  .section-1 h1 {
    font-size: 4vw;
  }
  .text {
    margin-top: 50px;
    width: 63%;
  }
}

/* ESTILOS PARA MÓVILES Y IMPRESION HORIZONTAL */
@media only screen and (max-width: 800px), print and (orientation: portrait) {
  .section-1 {
    background-image: url("../imagenes/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .text {
    margin-top: 100px;
    width: 80%;
  }
  .section-2 {
    flex-direction: column;
    background-image: url("../imagenes/2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .section-2-right {
    order: 1;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 90px;
  }
  .section-2-left {
    order: 2;
    width: 100%;
  }

  .section-2 button {
    margin-right: 0;
    font-size: 20px;
    width: 80%;
  }
  .section-2 h1 {
    margin-bottom: 20%;
    font-size: 25px;
  }

  .section-3 {
    background-image: url("../imagenes/3.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
  }
  .section-3 .right,
  .section-3 .left {
    width: 100%;
  }
  .section-3-button {
    display: none;
  }
  .section-3-button2 {
    display: block;
    order: 3;
    font-size: 20px;
    width: 80%;
    margin-bottom: 100px;
  }
  .section-3 .right {
    order: 1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .section-3 .left {
    order: 2;
  }
  .section-3 h1 {
    margin: 0;
    font-size: 24px;
  }

  .section-4 h1 {
    font-size: 34px;
  }
  .section-4 p {
    width: 95%;
  }
  .card1s-container {
    display: flex;
    flex-direction: column;
  }

  .card1 {
    display: none;
    width: 95%;
    margin-left: 2%;
  }

  .card1.active {
    display: block;
  }
  .section-5 h1 {
    font-size: 30px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .icon-container img {
    width: 100px;
  }
  .icon-container p {
    display: none;
  }
  .section-5 .text-center {
    margin: 0;
    width: 90%;
    margin-left: 5%;
  }
  .footer-right,
  .footer-center {
    display: none;
  }
  .navbar-collapse {
    background-color: white;
    opacity: 0.8;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1023px) {
  /* estilos para tabletas */
  .section-1 {
    background: url("../imagenes/tabletIndex.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon-container div p {
    width: 60%;
  }
  .center-button {
    margin-bottom: 10%;
  }
  .navbar-collapse {
    background-color: white;
    opacity: 0.8;
  }
}

@media print {
  .section-3,
  .section-4 {
    background: #fff !important;
    height: 100vh !important;
    page-break-after: always !important;
  }
  .section-2 {
    background: #fff !important;
  }
  .section-1 {
    background: #fff !important;
    height: 100vh !important;
  }
  .section-3 {
    page-break-before: always !important;
  }
  nav,
  footer,
  .section-2-left {
    display: none !important;
  }
  button {
    display: none !important;
  }
  * {
    opacity: 1 !important;
    transform: none !important;
    translate: none !important;
  }
  .card1 {
    display: block;
  }
  .card1s-container {
    flex-direction: row;
  }
  .hideLeft,
  .prevLeftSecond,
  .nextRightSecond,
  .hideRight,
  .next,
  .selected {
    display: none;
  }
  .prev {
    margin-left: 50px;
  }
}

@media print and (orientation: landscape) {
  .section-2-right {
    width: 100%;
    margin-top: -10%;
  }
  .center-img {
    width: 50%;
    margin-left: 25%;
  }
  * {
    opacity: 1 !important;
    transform: none !important;
    translate: none !important;
    page-break-after: always
  }

}
