@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap%27");

* {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
}

/* MOVIL */
.inicioTotal {
  height: 100vh;
  background-repeat: no-repeat;
  background: url(imagenes/carretera2.png) no-repeat;
  background-size: 100% 100%;
}
.texto {
  font-size: 7vw;
  margin-left: 20px;
  margin-top: 70px;
  font-weight: bold;
  height: auto;
}
span {
  color: #d5b92d;
}
.texto p {
  width: 70%;
}

.logo {
  width: 70px;
}

.navbar a {
  font-weight: bold;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

/* INSTRUCTORES */

.instructores {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background: url(imagenes/movilAzul.png);
  background-size: 100% 100%;
}
.instructorText {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.cursosText p,
.instructorText p {
  padding-top: 15%;

  font-size: 5vw;
  font-weight: bold;
}
.instructorImg {
  margin-top: 15%;
  width: 100%;
}
.instructorImg img {
  width: 90%;
  height: 100%;
}
.instructorBtn {
  margin-top: 40%;
  width: 80%;
  height: 50px;
  background-color: #d5b92d;
  color: white;
}

.instructorBtn i {
  margin-left: 2%;
}

.cursos {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background: url(imagenes/movilDorado.png);
  background-size: 100% 100%;
}

.cursosText {
  width: 80%;
  margin-left: 10%;
}

.cursosImg {
  margin-top: 15%;
  width: 100%;
}
.cursosImg img {
  width: 80%;
  height: 100%;
}
.cursosBtn {
  margin-top: 30%;
  width: 80%;
  height: 50px;
  background-color: #1c3144;
  color: white;
}
.cursosBtn i {
  margin-left: 2%;
}

.sliderCurso{
  height: 100vh;
  text-align: center;
}
.sliderCursoTexto{
  padding-top:10%;
}
.sliderCursoTexto p{
  margin-top:18%
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  .carousel-inner{
    width: 70% !important;
    margin-left: 15%;
  }