@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap%27');

body {
  width      : 100%;
  height     : 100%;
  margin     : 0;
  padding    : 0;
  font-weight: bold;
}

.section1 {
  background-image : url(./img/fondoMovil.png);
  background-repeat: no-repeat;
  background-size  : cover;
}

.logo {
  margin-left: 10px;
  width      : 70px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  display    : flex;
  align-items: center;
}

.nav-link.active,
.nav-link:hover {
  color: #d5b92d !important;
}

.navbar a {
  font-weight: bold;
}

section {
  width      : 100%;
  font-family: 'League Spartan', sans-serif;
}

.container {
  width    : 100%;
  max-width: 375px;
  margin   : 0 auto;
}

.text-title {
  width        : 90%;
  display      : flex;
  align-items  : center;
  font-weight  : bold;
  margin-bottom: 5%;
  color        : #fff;
  padding      : 20px;
}

.colorSpan {
  font-weight: bold;
  color      : #D5B92D;
}

.text--center {
  height          : 60px;
  margin-top      : -20px;
  color           : #fff;
  margin-left     : 10px;
  margin-right    : 10px;
  padding-top     : 15px;
  padding-bottom  : 10px;
  border-radius   : 15px;
  background-color: #D5B92D;
  font-weight     : bold;
}

.text--center-c {
  width       : 100%;
  margin-top  : 5%;
  margin-left : 5%;
  padding-top : 5px;
  margin-right: 5%;
  color       : #1C3144;

}

.text--class {
  display: none;
}

.hero {
  width          : 100%;
  height         : 460px;
  max-width      : 375px;
  display        : block;
  justify-content: center;
  overflow       : hidden;
}

.contact {
  width                : 100%;
  height               : 460px;
  background-attachment: fixed;
  background-color     : #fff;
  margin-right         : 60px;
}

.slider {
  width   : 100%;
  height  : 420px;
  position: relative;
  margin  : 0 auto;
}

.slider__background--back {
  width        : 100%;
  height       : 100%;
  background   : #fff;
  border-radius: 10%;
}

.text--style {
  display        : flex;
  justify-content: center;
  align-items    : center;
  text-align     : justify;
}

/* CSS used in JS */

.slider__background--front {
  width           : 50%;
  height          : 40%;
  background      : #1C3144;
  z-index         : 3;
  position        : absolute;
  right           : 0;
  top             : 48px;
  transform-origin: right;
  transform       : scaleX(1);
  border-radius   : 15px;
}

@keyframes slideInAndOut {
  0% {
    transform: scaleX(0);
  }

  10%,
  80% {
    transform: scaleX(1);
  }

  90%,
  100% {
    transform: scaleX(0);
  }
}

.slider__image {
  position : absolute;
  top      : 5px;
  bottom   : 0;
  left     : -35px;
  z-index  : 800;
  transform: translateX(-20px);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-20px);

  }

  5% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(40px);
  }
}

.slider__details {
  font-family: 'League Spartan', sans-serif;
  color      : #fff;
  text-align : right;
  position   : absolute;
  z-index    : 700;
  right      : 12px;
  top        : 62px;
}

@keyframes fadeIn {

  0%,
  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.slider__details--name {
  font-size  : 32px;
  font-weight: bold;
}

.slider__details--subname {
  font-size  : 15px;
  font-weight: bold;
}

.form--details {
  margin-top : 5%;
  width      : 100%;
  margin-left: -1px;
}

.form-group {
  position     : relative;
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width        : 100%;
  border       : none;
  border-bottom: 2px solid;
  outline      : none;
  padding      : 3px;
  resize       : none;
  font-size    : 1rem;
  margin-top   : 0.5rem;
}

label {
  position          : absolute;
  top               : 0;
  left              : 0;
  font-size         : 1rem;
  color             : #999;
  pointer-events    : none;
  transition        : 0.2s ease all;
  -moz-transition   : 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-bottom: 2px solid #D5B92D;
  resize       : none;
}

input[type="text"]:focus~label,
input[type="email"]:focus~label,
input[type="tel"]:focus~label,
textarea:focus~label {
  opacity   : 0;
  transition: opacity 0.2s ease;
  resize    : none;
}

.buttonForm {
  width           : 100%;
  height          : 40px;
  background-color: #1C3144;
  color           : white;
  border          : none;
  padding-top     : 10px;
  padding-bottom  : 10px;
  border-radius   : 5px;
  cursor          : pointer;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}


::-webkit-textarea-placeholder {
  color : #a8a8a8;
  resize: none;
}

h1 {
  color      : #1C3144;
  font-weight: bold;
}

.h3,
.h5 {
  font-weight: bold;
  margin     : 0;
}

footer {
  margin-top    : 5%;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  border-top    : 2px solid #1c3144;
}

.footer-up {
  display        : flex;
  width          : 100%;
  justify-content: space-around;
  padding-top    : 20px;
}

.footer-left {
  display      : flex;
  align-items  : center;
  margin-bottom: 20px;
}

.footer-left img {
  height      : 50px;
  margin-right: 20px;
}

.footer-right,
.footer-center {
  display: none;
}

.footer-bottom {
  display        : flex;
  justify-content: center;
  margin-top     : 20px;

}

.footer-bottom-copyrights {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  background-color: #1c3144;
  color           : #fff;
  width           : 100%;
  padding         : 20px 0;
}

.footer-bottom i {
  font-size: 40px;
  margin   : 0 10px;
}


/* Tablets (min-width: 800px) */
/* @import url(css-mediaQuery-Tablet.css); */
/* Tablets (min-width: 800px) */
@media (min-width: 800px) {
  .navbar {
    padding: 20px 0;
  }

  .navbar-brand {
    font-size: 1.5em;
  }

  .nav-item {
    font-size: 1.2em;
  }

  .section1 {
    background-image : url(./img/fondoMovil.png);
    background-repeat: no-repeat;
    background-size  : cover;
  }

  .text--style {
    display        : flex;
    width          : 100%;
    justify-content: center;
    align-items    : center;
    text-align     : justify;
  }

  .hero {
    margin-top: 10%;
    height    : 420px;
  }

  .side--section--b {
    display         : flex;
    height          : 420px;
    background-color: #1C3144;
    padding-top     : 25%;
    border-radius   : 10%;
  }

  .text {
    display: none;
  }

  .text--class {
    display: none;
  }

  .contact {
    height: 500px;
  }

  .form--details {
    width      : 100%;
    margin-left: -1px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width        : 100%;
    border       : none;
    border-bottom: 2px solid;
    outline      : none;
    padding      : 3px;
    resize       : none;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-bottom: 2px solid #D5B92D;
    resize       : none;
  }

  .buttonForm {
    width           : 100%;
    height          : 40px;
    background-color: #1C3144;
    color           : white;
    border          : none;
    padding-top     : 10px;
    padding-bottom  : 10px;
    border-radius   : 5px;
    cursor          : pointer;
  }

  .footer-right,
  .footer-center {
    display: block;
  }
}

/* Desktops (min-width: 992px) */
/* @import url(css-mediaQuery-Web.css); */
@media (min-width: 992px) {
  .navbar {
    padding: 40px 0;
  }

  .navbar-brand {
    font-size: 2em;
  }

  .nav-item {
    font-size: 1.5em;
  }

  .logo {
    margin-left: 40px;
    width      : 70px;
  }

  .section1 {
    background-image : url(./img/fondo-Web.png);
    background-repeat: no-repeat;
  }

  .text--style {
    display        : flex;
    align-items    : center;
    width          : 80%;
    padding-left   : 10%;
    padding-top    : 10%;
    justify-content: center;
    align-items    : center;
    text-align     : justify;
  }

  .hero {
    height: 420px;
  }

  .hero--center {
    width: 100%;
  }

  .side--section--b {
    padding-top : 5%;
    padding-left: 50%;
  }

  .margenIcono {
    margin-bottom: 30%;
  }

  .text {
    color       : #D5B92D;
    display     : block;
    margin-right: 150%;

  }

  .contact {
    height: 500px;
  }

  .form--details {
    width      : 100%;
    margin-left: -1px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width        : 100%;
    border       : none;
    border-bottom: 2px solid;
    outline      : none;
    padding      : 3px;
    resize       : none;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-bottom: 2px solid #D5B92D;
  }

  .buttonForm {
    width           : 100%;
    height          : 40px;
    background-color: #1C3144;
    color           : white;
    border          : none;
    padding-top     : 10px;
    padding-bottom  : 10px;
    border-radius   : 5px;
    cursor          : pointer;
  }

  .footer-right,
  .footer-center {
    display: block;
  }
}


/* Media Print Page */
@media print {
  .slider {
    display: none;
  }

  .content {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100%;
  }

  body {
    text-align: justify;
    margin    : 2cm auto;
    width     : 80%;
  }

  .navbar-toggler {
    display: none;
  }

  .text--style {
    position  : absolute;
    top       : 25%;
    left      : 0;
    right     : 0;
    text-align: center;
    text-align: justify;
  }

  .form--details {
    position  : absolute;
    top       : 40%;
    left      : 0;
    right     : 0;
    text-align: center;
    text-align: justify;
  }

  .footer-up {
    position: absolute;
    text-align   : center;
    text-align   : justify;
    margin-bottom: 1cm;
  }


  .footer-left, .footer-bottom {
    display: none;
  }
}